[Unit]
Description=Mount MinIO bucket via s3fs
Requires=minio-compose.service
After=minio-compose.service network-online.target

[Service]
Type=simple
Environment=GNUPGHOME=/root/.gnupg
ExecStart={{MINIO_DIR}}/minio_mount.sh {{MINIO_MOUNT_DIR}}
ExecStop=/bin/fusermount -u {{MINIO_MOUNT_DIR}}
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target
