[Unit]
Description=MinIO Docker Compose Service
After=network.target docker.service
Requires=docker.service

[Service]
Type=oneshot
WorkingDirectory={{MINIO_DIR}}
EnvironmentFile={{MINIO_DIR}}/.minio_credentials
ExecStart=/usr/bin/docker compose -f {{MINIO_DIR}}/docker-compose.yaml up -d
ExecStop=/usr/bin/docker compose -f {{MINIO_DIR}}/docker-compose.yaml down
RemainAfterExit=yes
User=root
Group=root

[Install]
WantedBy=multi-user.target
