[Unit]
Description=Mount MinIO bucket via s3fs
Requires=minio_compose.service
After=minio_compose.service network-online.target

[Service]
Type=simple
ExecStartPre=/bin/bash -c 'until nc -z 127.0.0.1 9000; do sleep 1; done'
ExecStart=/usr/bin/s3fs data /home/user/data \
    -f -o passwd_file={{MINIO_DIR}}/.minio_pass \
    -o url=http://127.0.0.1:9000 \
    -o use_path_request_style \
    -o nonempty \
    -o allow_other
ExecStop=/bin/fusermount -u /home/user/data
Restart=on-failure
User=user
Group=user

[Install]
WantedBy=multi-user.target